/* FOR TESTING CODE LOCALLY ONLY (don't add to WP page) */
.container {
    margin-top: 100px;
    margin-bottom: 450px;
}

.acf-block-full-width-bg {
    margin-bottom: 10rem;
}

body {
    overflow-x: hidden;
}

.profile-listing-wrapper .card {
    background-color: transparent;
}



    
/* Updated 1/30/23
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* *********************
*********************
GENERAL PAGE STYLES 
*********************
********************** */

html {
    overflow-x: hidden;
}

body {
    margin: 0;
}

.acf-block-hero {
    display: none;
}

main h1, main h2 {
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}


/* *********************
Background SVG Tiles
********************** */
.testimonial-wrapper, .profile-listing-wrapper, .secondary-footer { 
    position: relative;
}

.bg-tile {
    height: 414px;
    width: 344px;
    z-index: -1;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 842.51 700.09'%3E%3Cdefs%3E%3Cstyle%3E.c,.d,.e%7Bfill:none;%7D.d%7Bstroke:%23ffbe2f;%7D.d,.e%7Bstroke-width:1.43px;%7D.e%7Bstroke:%23e99b41;%7D.f%7Bclip-path:url(%23b);%7D%3C/style%3E%3CclipPath id='b'%3E%3Crect class='c' width='842.51' height='700.09'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='f'%3E%3Cpolygon class='d' points='1.29 519.35 325.62 .71 578.5 .71 265.61 519.35 1.29 519.35'/%3E%3Cpolygon class='e' points='38.79 699.37 363.11 180.74 616 180.74 303.11 699.37 38.79 699.37'/%3E%3Cpolygon class='d' points='264.03 604.36 588.35 85.72 841.24 85.72 528.35 604.36 264.03 604.36'/%3E%3C/g%3E%3C/svg%3E");
}


@media only screen and (max-width: 768px) {
    .tile-5, .tile-6, .tile-7, .tile-8, .tile-9, .tile-10 { 
        z-index: 2;
    }

.tile-1 {
    top: 65%;
    left: 70%;
}

.tile-2 {
    top: 40%;
    right: 72%;
}

.tile-3 {
    top: 75%;
    left: 60%;
}

.tile-4 {
    top: -5%;
    right: 60%;
}

/* Tiles 5 & 6 overlap CJ photo on mobile */
.tile-5 {
    top: 100%;
    left: -57%;
}

.tile-6 {
    top: -7%;
    right: -47%;
}


/* Tiles 7 & 8 overlap Avi photo on mobile */
.tile-7 {
    top: 101%;
    right: 57%;
}

.tile-8 {
    top: -7%;
    right: -50%;
}

/* Tiles 9 & 10 overlap Sam photo on mobile */
 .tile-9 {
    top: 101%;
    right: 55%;
} 

.tile-10 {
    bottom: 96%;
    right: -55%;
} 

.tile-11 {
    bottom: 68%;
    left: -50%;
    z-index: 1;
} 
}

@media only screen and (min-width: 768px) {
    .bg-tile {
        height: 517px;
        width: 430px;
    }

    .tile-1 {
        top: 60%;
        left: 80%;
    }

    .tile-2 {
        top: 40%;
        right: 85%;
    }

    .tile-3 {
        top: 20%;
        left: 95%;
    }

    .tile-4 {
        top: 10%;
        right: 90%;
    }

    .tile-5 {
        top: 62%;
        right: -60%;
    }

    .tile-6 {
        right: -43%;
        top: -5%;
    }

    .tile-7 {
        top: 42%;
        right: 87%;
    }

    .tile-8 {
        top: -7%;
        left: -45%;
    }

    .tile-9 {
       top: 80%;
       right: -35%;
    }

    .tile-10 {
        top: -5%;
        right: -45%;
    }

    .tile-11 {
        bottom: 63%;
        left: -20%;
        z-index: 1;
    }
}

@media only screen and (min-width: 992px) {
    .bg-tile {
        height: 646px;
        width: 536px;
    }

    .tile-6 {
        right: -50%;
    }

    .tile-8 {
        top: -7%;
        left: -45%;
    }

    .tile-9 {
       top: 75%;
       right: -40%;
    }

    .tile-10 {
        top: -9%;
        right: -40%;
    }

    .tile-11 {
        bottom: 0%;
        left: -30%;
    }
}

@media only screen and (min-width: 1200px) {
    .bg-tile {
        height: 808px;
        width: 670px;
    }

    .tile-6 {
        right: -60%;
    }

    .tile-8 {
        left: -55%;
    }

    .tile-9 {
       top: 70%;
       right: -43%;
    }

    .tile-10 {
        top: -9%;
        right: -50%;
    }

    .tile-11 {
        bottom: -18%;
        left: -34%;
    }
}

@media only screen and (min-width: 1400px) {
    .tile-11 {
        bottom: -8%;
        left: -23%;
    }
}

@media only screen and (min-width: 1600px) {
    .tile-6 {
        right: -65%;
        top: 2%;
    }

    .tile-8 {
        left: -65%;
    }

    .tile-9 {
       top: 70%;
       right: -53%;
    }
    
    .tile-11 {
        bottom: 2%;
        left: -23%;
    }
}


@media only screen and (min-width: 1800px) {
    .tile-11 {
        bottom: 12%;
        left: -19%;
    }
}

/* *********************
*********************
Full-Width Hero
*********************
********************** */

h1 {
    color: white;
    font-size: 2.75rem;
}

.t2l-hero .background-img {
    min-height: 32rem;
    background-color: #307064;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://business.wisc.edu/wp-content/uploads/2023/01/T2L-LandingPageHero-RiyanaNew-768x512.jpg'); 
}

@media only screen and (min-width: 768px) {
    .t2l-hero .background-img {
        min-height: 35rem;
        background-image: url('https://business.wisc.edu/wp-content/uploads/2023/01/T2L-LandingPageHero-RiyanaNew-1024x683.jpg');
    }
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 3.3rem;
    }

    .t2l-hero .background-img {
        background-image: url('https://business.wisc.edu/wp-content/uploads/2023/01/T2L-LandingPageHero-RiyanaNew-2048x1365.jpg');
        height: calc(100vh - 120px);
    }
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 4.25rem;
    }
}



/* *********************
*********************
Animated Testimonials
*********************
********************** */

.animated-testimonial {
    display: -ms-grid;
    display: grid;
    gap: 0 2rem;
}

.img-col {
    height: 28rem;
    width: 20rem;
    margin: 1rem auto;
}

.img-col img {
    height: auto;
    width: 100%;
    border-radius: 1.25rem 1.25rem 1.25rem 0;
}

.animated-layout-b img {
    border-radius: 1.25rem 1.25rem 0 1.25rem;
}

.animated-testimonial .large-animated-text {
    display: block;
    color: #FFC62F;
    text-transform: uppercase;
    font-size: 3.25rem; 
    line-height: 1;
    letter-spacing: 0.15rem;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 0.75rem;
}

q {
    font-family: "abril-text", serif;
    font-size: 1.8rem;
    font-style: italic;
    line-height: 1.3;
}

figcaption {
    font-weight: 600;
}

.quote-author {
    font-size: 1.125rem;
    color: #c5050c;
 }

.major {
    font-size: 1rem;
    color: #282728;
}



/* Mobile Layout & Spacing */
@media only screen and (max-width: 768px) {
    .animated-quote {
        margin: 1.25rem auto;
    }
}

@media only screen and (max-width: 992px) {
    .animated-testimonial .large-animated-text {
        text-align: center;
    }

    .animated-quote {
        margin: 1.25rem;
    }
}


/* Tablet/Desktop Layout & Spacing */

@media only screen and (min-width: 992px) {
    .animated-layout-a {
        -ms-grid-columns: 2fr 5fr;
        grid-template-columns: 2fr 5fr;
        -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
    }
    .animated-layout-a > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .animated-layout-a > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .animated-layout-a > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .animated-layout-a > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .animated-layout-a .img-col {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 1 / 1 / 3 / 2;
    }

    .animated-layout-a .large-animated-text {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: 1 / 2 / 2 / 3;
    }

    .animated-layout-a .animated-quote {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: 2 / 2 / 3 / 3;
    }
    
    .animated-layout-b {
        -ms-grid-columns: 5fr 2fr;
        grid-template-columns: 5fr 2fr;
        -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
    }
    
    .animated-layout-b > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    
    .animated-layout-b > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    
    .animated-layout-b > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    
    .animated-layout-b > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .animated-layout-b .img-col {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: 1 / 2 / 3 / 3;
    }

    .animated-layout-b .large-animated-text {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 1 / 1 / 2 / 2;
    }

    .animated-layout-b .animated-quote {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 2 / 1 / 3 / 2;
        -ms-grid-column-align: end;
            justify-self: end;
    }

    .img-col {
        margin: 0;
        height: 28rem;
        width: 20rem;
    }

    .animated-testimonial .large-animated-text { 
        font-size: 4rem;
        -ms-flex-item-align: end;
            -ms-grid-row-align: end;
            align-self: end;
    }

    .animated-text-b {
        text-align: right;
    }

    .animated-quote {
        max-width: 60%;
        -ms-flex-item-align: start;
            -ms-grid-row-align: start;
            align-self: start;
    }
}

/* *********************
 Animation Styles
 ********************* */

.animated-img, .large-animated-text, .animated-quote {
    opacity: 0;
    -webkit-transition: opacity 1.4s ease-in-out, -webkit-transform 1.6s ease-out;
    transition: opacity 1.4s ease-in-out, -webkit-transform 1.6s ease-out;
    -o-transition: transform 1.6s ease-out, opacity 1.4s ease-in-out;
    transition: transform 1.6s ease-out, opacity 1.4s ease-in-out;
    transition: transform 1.6s ease-out, opacity 1.4s ease-in-out, -webkit-transform 1.6s ease-out;
}


@media only screen and (min-width: 992px) {
    .large-animated-text {
        -webkit-transition-delay: 0.35s;
             -o-transition-delay: 0.35s;
                transition-delay: 0.35s;
    }

    .animated-quote {
         -webkit-transition-delay: 0.75s;
              -o-transition-delay: 0.75s;
                 transition-delay: 0.75s;
    }

    /* Animation for 1st and 3rd testimonials */
    .animated-img-a, .animated-text-a, .animated-quote-a {
        -webkit-transform: translateX(150px);
            -ms-transform: translateX(150px);
                transform: translateX(150px);
    }


    /* Animation for 2nd testimonial */
    .animated-img-b, .animated-text-b, .animated-quote-b {
        -webkit-transform: translateX(-150px);
            -ms-transform: translateX(-150px);
                transform: translateX(-150px);
    }

    @media (prefers-reduced-motion) {
        .animated-img-a, .animated-text-a, .animated-quote-a, .animated-img-b, .animated-text-b, .animated-quote-b {
            -webkit-transform: translateX(0px);
                -ms-transform: translateX(0px);
                    transform: translateX(0px);
            -webkit-transition-delay: 0s;
                 -o-transition-delay: 0s;
                    transition-delay: 0s;
        }
    }
}


/* General Testimonial Animation Styles */
 .fadeIn {
    opacity: 1;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
}


/* *********************
*********************
Lazy Load Video
*********************
********************** */


.acf-block-youtube-lazy-load .section-paragraph {
    margin-bottom: 3rem !important;
}

@media only screen and (min-width: 1200px) {
    .acf-block-youtube-lazy-load .section-paragraph {
        max-width: 65vw;
        margin: auto;
    }
}

@media only screen and (min-width: 1400px) {
    .acf-block-youtube-lazy-load .section-paragraph {
        max-width: 50vw;
    }
}

/* *********************
*********************
Video Testimonials
*********************
********************** */

.acf-block-video-testimonial .swiper-thumbnail-label {
    /* font-weight: 600; */
}

.acf-block-video-testimonial .card-title {
    color: #c5050c;
}

.acf-block-video-testimonial .card .testimonial-quote {
    font-size: 1.8rem;
}

.acf-block-video-testimonial .card .testimonial-citation {
    font-size: 1.25rem;
}

.acf-block-video-testimonial .card .testimonial-end {
    font-style: italic;
    color: #0479a8;
}

.acf-block-video-testimonial .card .testimonial-end a {
    font-weight: 600;
}



/* *********************
*********************
Full-width BG Images w/ Quotes
*********************
********************** */


.acf-block-full-width-bg .background-img.parallax {
    background-position: top center;
}

/* VERTICAL IMAGES FOR MOBILE ONLY */

.background-img.avi {
        background-image: url('https://business.wisc.edu/wp-content/uploads/2023/01/T2L-AviGomez-FullWidth-Mobile.jpg') !important;
    }

.background-img.cj {
       background-image: url('https://business.wisc.edu/wp-content/uploads/2023/01/T2L-CJWilkerson-FullWidth-MobileNew.jpg') !important;
} 

.background-img.sam {
       background-image: url('https://business.wisc.edu/wp-content/uploads/2023/01/T2L-SamKomisar-FullWidth-Mobile.jpg') !important;
}



.acf-block-full-width-bg.featured-student .quote-author, .acf-block-full-width-bg.featured-student .white-text, .acf-block-full-width-bg.featured-student .major {
      color: white;
}

.acf-block-full-width-bg.featured-student a {
     color: #ffd946; /* $yellow */
}

.acf-block-full-width-bg .btn-link:hover {
    text-decoration: underline;
}

.acf-block-full-width-bg a::after {
        content: " \00BB";
}

.acf-block-full-width-bg.featured-student .background-img { 
     height: 45rem;
}

@media only screen and (max-width: 768px) {
    .acf-block-full-width-bg.featured-student .container { 
         padding-bottom: 4% !important;
     }

     .acf-block-full-width-bg.featured-student q { 
         font-size: 2rem;
     }

     .acf-block-full-width-bg.featured-student .quote-author { 
         font-size: 1.4rem;
     }

     .acf-block-full-width-bg.featured-student .major { 
         font-size: 1.2rem;
     }
}

@media only screen and (min-width: 768px) {
    .acf-block-full-width-bg .background-img {
        background-color: #307064;
    }


    /* HORIZONTAL IMAGES FOR TABLET/DESKTOP */
    .background-img.avi {
        background-image: url('https://business.wisc.edu/wp-content/uploads/2023/01/T2L-AviGomez-FullWidthNew-2048x1365.jpg') !important;
    }

    .background-img.cj { 
        background-image: url('https://business.wisc.edu/wp-content/uploads/2023/01/T2L-CJWilkerson-FullWidthNew-2048x1365.jpg') !important;
    }

    .background-img.sam {
        background-image: url('https://business.wisc.edu/wp-content/uploads/2023/01/T2L-SamKomisar-FullWidthNew-2048x1365.jpg') !important;
    }

    .acf-block-full-width-bg q {
        font-size: 2rem;
    }

     .acf-block-full-width-bg.featured-student .quote-author { 
         font-size: 1.4rem;
     }


    .acf-block-full-width-bg .container.d-flex .full-width-bg-content {
        max-width: 33vw;
    }


    /* Spacing for text on CJ and Sam's full-width image */
    /* .acf-block-full-width-bg .cj .container.justify-content-md-end .full-width-bg-content {
        padding-left: calc(0.5rem + 1vw);
    } */

    .acf-block-full-width-bg .sam .container.justify-content-md-end .full-width-bg-content {
        padding-left: calc(0.5rem + 4vw);
    } 

    .acf-block-full-width-bg .major {
        font-size: 1.2rem;
    }
}


@media only screen and (min-width: 992px) {
    .acf-block-full-width-bg.featured-student q {
        font-size: 2.5rem;
    }

    .acf-block-full-width-bg.featured-student .quote-author {
        font-size: 1.6rem;
    }

    /* Spacing for text on CJ and Sam's full-width image */
    .acf-block-full-width-bg .cj .container.justify-content-md-end .full-width-bg-content {
        padding-left: calc(0.5rem + 1vw);
        max-width: 38vw;
    } 

    .acf-block-full-width-bg .sam .container.justify-content-md-end .full-width-bg-content {
        padding-left: calc(0.25rem + 8vw);
        max-width: 42vw;
    } 
}

@media only screen and (min-width: 1200px) {
    .acf-block-full-width-bg .background-img {
        min-height: 100vh;
    }

    .acf-block-full-width-bg .container.d-flex .full-width-bg-content {
        max-width: 30vw;
    }

    .acf-block-full-width-bg .container.justify-content-md-end .full-width-bg-content {
        max-width: 35vw;
    } 

    /* Spacing for text on Sam's full-width image */
    .acf-block-full-width-bg .sam .container.justify-content-md-end .full-width-bg-content {
        padding-left: calc(2rem + 6vw);
        max-width: 38vw;
    }
   
    .acf-block-full-width-bg q {
        font-size: 3rem;
    }

}

@media only screen and (min-width: 1400px) {
    /* Spacing for text on CJ and Sam's full-width image */
    .acf-block-full-width-bg .container.justify-content-md-end .full-width-bg-content {
        padding-left: calc(3rem + 6vw);
    }
}

@media only screen and (min-width: 1600px) {
    /* Spacing for text on CJ and Sam's full-width image */
    .acf-block-full-width-bg .cj .container.justify-content-md-end .full-width-bg-content {
        padding-left: calc(4rem + 3vw);
    }    

    .acf-block-full-width-bg .sam .container.justify-content-md-end .full-width-bg-content {
        padding-left: calc(4rem + 8vw);
    }
}

@media only screen and (min-width: 1800px) {
    /* Spacing for text on CJ and Sam's full-width image */
    .acf-block-full-width-bg .cj .container.justify-content-md-end .full-width-bg-content {
        padding-left: calc(6rem + 3vw);
    }

    .acf-block-full-width-bg .sam .container.justify-content-md-end .full-width-bg-content {
        padding-left: calc(7rem + 8vw);
    }
    
}


/* *********************
*********************
Secondary Footer
*********************
********************** */

.teal-bg {
    background-color: #307064;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 27.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1152 1152' style='enable-background:new 0 0 1152 1152;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.54;clip-path:url(%23XMLID_00000061463905027548751050000016538202802729311665_);%7D .st1%7Bfill:url(%23SVGID_1_);%7D .st2%7Bfill:url(%23SVGID_00000100378660838691498630000010683296269463296134_);%7D .st3%7Bfill:url(%23SVGID_00000084517041424475082500000010069752303178832001_);%7D .st4%7Bfill:url(%23SVGID_00000013194745776563195100000016728313474867206077_);%7D%0A%3C/style%3E%3Cg%3E%3Cdefs%3E%3Crect id='XMLID_00000098939241368436435750000014100466357590600599_' x='-1.6706' y='-1.5369' width='1153.0862' height='1152.4475'/%3E%3C/defs%3E%3Cuse xlink:href='%23XMLID_00000098939241368436435750000014100466357590600599_' style='overflow:visible;fill:%23307064;'/%3E%3CclipPath id='XMLID_00000130636131763556907400000011548885918819247282_'%3E%3Cuse xlink:href='%23XMLID_00000098939241368436435750000014100466357590600599_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg style='opacity:0.54;clip-path:url(%23XMLID_00000130636131763556907400000011548885918819247282_);'%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='-648.3007' y1='113.8186' x2='575.9271' y2='113.8186' gradientTransform='matrix(1 0 0 -1 0 1207.8889)'%3E%3Cstop offset='0' style='stop-color:%23FFFFFF'/%3E%3Cstop offset='0.0104' style='stop-color:%23F5F8F7'/%3E%3Cstop offset='0.0668' style='stop-color:%23C1D4D1'/%3E%3Cstop offset='0.1242' style='stop-color:%2395B5AF'/%3E%3Cstop offset='0.1815' style='stop-color:%23709C94'/%3E%3Cstop offset='0.2387' style='stop-color:%2354897F'/%3E%3Cstop offset='0.2959' style='stop-color:%23407B70'/%3E%3Cstop offset='0.353' style='stop-color:%23347367'/%3E%3Cstop offset='0.4101' style='stop-color:%23307064'/%3E%3Cstop offset='1' style='stop-color:%23429F90'/%3E%3C/linearGradient%3E%3Cpolygon class='st1' points='-460.2419,1612.1549 -648.3007,1424.0962 198.9286,576.8653 575.9271,575.9858 575.9271,575.9877 -460.2379,1612.1549 '/%3E%3ClinearGradient id='SVGID_00000155848843947655122310000010685719756517031073_' gradientUnits='userSpaceOnUse' x1='-69.7066' y1='-369.6545' x2='-7.1457' y2='603.5153'%3E%3Cstop offset='0' style='stop-color:%23FFFFFF'/%3E%3Cstop offset='0.0537' style='stop-color:%23D2E8E5'/%3E%3Cstop offset='0.115' style='stop-color:%23A7D2CB'/%3E%3Cstop offset='0.1771' style='stop-color:%2382C0B6'/%3E%3Cstop offset='0.2392' style='stop-color:%2366B1A5'/%3E%3Cstop offset='0.3012' style='stop-color:%2352A799'/%3E%3Cstop offset='0.3632' style='stop-color:%2346A192'/%3E%3Cstop offset='0.4252' style='stop-color:%23429F90'/%3E%3Cstop offset='1' style='stop-color:%23307064'/%3E%3C/linearGradient%3E%3Cpolygon style='fill:url(%23SVGID_00000155848843947655122310000010685719756517031073_);' points='575.9279,575.8224 199.5543,575.5665 -648.3015,-272.288 -460.2408,-460.3467 -460.2388,-460.3467 575.9279,575.8184 '/%3E%3ClinearGradient id='SVGID_00000161594260009454186890000004335487650869549211_' gradientUnits='userSpaceOnUse' x1='224.6168' y1='61.7379' x2='1448.8446' y2='61.7379' gradientTransform='matrix(-1 0 0 1 2025.4928 -4)'%3E%3Cstop offset='0' style='stop-color:%23FFFFFF'/%3E%3Cstop offset='0.0104' style='stop-color:%23F5F8F7'/%3E%3Cstop offset='0.0668' style='stop-color:%23C1D4D1'/%3E%3Cstop offset='0.1242' style='stop-color:%2395B5AF'/%3E%3Cstop offset='0.1815' style='stop-color:%23709C94'/%3E%3Cstop offset='0.2387' style='stop-color:%2354897F'/%3E%3Cstop offset='0.2959' style='stop-color:%23407B70'/%3E%3Cstop offset='0.353' style='stop-color:%23347367'/%3E%3Cstop offset='0.4101' style='stop-color:%23307064'/%3E%3Cstop offset='1' style='stop-color:%23429F90'/%3E%3C/linearGradient%3E%3Cpolygon style='fill:url(%23SVGID_00000161594260009454186890000004335487650869549211_);' points='1612.8173,-460.3467 1800.876,-272.2879 953.6468,574.9429 576.6482,575.8224 576.6482,575.8205 1612.8134,-460.3467 '/%3E%3ClinearGradient id='SVGID_00000039107616807717138210000014412818165619705784_' gradientUnits='userSpaceOnUse' x1='1183.6555' y1='1491.5469' x2='1192.9238' y2='599.4745'%3E%3Cstop offset='0' style='stop-color:%23FFFFFF'/%3E%3Cstop offset='0.0537' style='stop-color:%23D2E8E5'/%3E%3Cstop offset='0.115' style='stop-color:%23A7D2CB'/%3E%3Cstop offset='0.1771' style='stop-color:%2382C0B6'/%3E%3Cstop offset='0.2392' style='stop-color:%2366B1A5'/%3E%3Cstop offset='0.3012' style='stop-color:%2352A799'/%3E%3Cstop offset='0.3632' style='stop-color:%2346A192'/%3E%3Cstop offset='0.4252' style='stop-color:%23429F90'/%3E%3Cstop offset='1' style='stop-color:%23307064'/%3E%3C/linearGradient%3E%3Cpolygon style='fill:url(%23SVGID_00000039107616807717138210000014412818165619705784_);' points='576.6474,575.9858 953.0211,576.2417 1800.8768,1424.0962 1612.816,1612.1549 1612.8142,1612.1549 576.6474,575.9897 '/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
}

.teal-bg div {
    padding: 10%;
}

.secondary-footer h2 {
    color: white;
}

.t2l-footer-bg-photo h2 {
    max-width: 62%;
}

.secondary-footer .btn-link {
    color: white;
    padding: 0.45rem 0;
    font-size: 18px;
    position: relative; /* required for z-index to work here */
    z-index: 2;
}

.secondary-footer .btn-link:hover {
    color: white;
    text-decoration: underline;
}

.t2l-footer-bg-photo {
    background-color: #343a40;
    border-top-left-radius: 5rem;
    min-height: 25rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://business.wisc.edu/wp-content/uploads/2021/12/BrandCampaign-LandingPage-HeroB-v2-tiny-png-512x341.jpg");
 }

@media only screen and (min-width: 512px) {
    .t2l-footer-bg-photo {
        background-image: url("https://business.wisc.edu/wp-content/uploads/2021/12/BrandCampaign-LandingPage-HeroB-v2-tiny-png-768x512.jpg");
    }
}

@media only screen and (min-width: 768px) {
    .t2l-footer-bg-photo {
        background-image: url("https://business.wisc.edu/wp-content/uploads/2021/12/BrandCampaign-LandingPage-HeroB-v2-tiny-png-1024x683.jpg");
    }

    .teal-bg div {
        padding: 8%;
    }
}

@media only screen and (min-width: 992px) {
    .teal-bg {
        background-size: 54%;
    } 

    .secondary-footer h2 {
        font-size: calc(1.35rem + 1vw);
    }
}